@import url('https://fonts.googleapis.com/css?family=Roboto:100');

* {
    font-family: Roboto;
}

.page {
    position:fixed;
    bottom:0;
    left:0;
    top:0;
    right:0;
}

.temp {
    position: absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    text-align:center;
    font-size:50px;
}

.wi {
    font-size:60px;
    text-align: center;
    color:#924da3;
}

.city {
    text-align: center;
    font-size:40px;
    padding:10px;
}